.features__wrap {
  @include container;
  padding: 28px 31px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 6px;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  color: $black;
}

.features__subtitle {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  color: $seafoam-blue;
  text-transform: uppercase;
}

.features__descr {
  margin-top: 0;
  margin-bottom: 18px;
}

.features__img {
  margin-bottom: 18px;
}

.features__price {
  margin-top: 0;
  margin-bottom: 27px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: center;
  color: $greyish-brown;
}

.features__order {
  display: block;
  padding: 14px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: center;
  color: $greyish-brown;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: $screen-md) {
  .features__wrap {
    display: flex;
    flex-wrap: wrap;
    padding: 0 48px;
    padding-top: 33px;
    padding-bottom: 50px;
  }

  .features__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 51px;
  }

  .features__title {
    margin-bottom: 0;
    font-size: 43px;
    line-height: 1.16;
  }

  .features__subtitle {
    width: 80px;
    margin-bottom: 0;
    margin-right: 25px;
    margin-top: 8px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
  }

  .features__section {
    position: relative;
    width: 291px;
  }

  .features__descr {
    margin-bottom: 38px;
  }

  .features__img {
    position: absolute;
    top: 8px;
    left: 100%;
    width: 333px;
    margin-bottom: 0;
    margin-left: 45px;
  }

  .features__price {
    margin-bottom: 32px;
    font-size: 20px;
  }
}

@media (min-width: $screen-lg) {
  .features__wrap {
    padding-top: 106px;
    padding-left: 225px;
    padding-bottom: 54px;
  }

  .features__header {
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-left: -180px;
    margin-bottom: 49px;
    z-index: 5;
  }

  .features__title {
    font-size: 53px;
    line-height: 1.08;
  }

  .features__subtitle {
    width: 175px;
    box-sizing: border-box;
    padding: 0 50px;
    margin-right: 0;
  }

  .features__img {
    top: -160px;
    width: 525px;
    margin-left: 60px;
  }

  .features__descr {
    margin-bottom: 49px;
    line-height: 1.78;
  }
}
