.header-promo__wrap {
  @include container;
}

.header-promo__text {
  margin: 0;
  padding: 72px 20px 125px;
  background-color: $gray;
  background-image: url("../img/hero-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-size: 26.5px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: $very-dark-brown;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }
}

.header-promo__link {
  display: block;
  padding: 26px 90px 30px 29px;
  background-color: $seafoam-blue;
  background-repeat: no-repeat;
  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  color: $white;
  text-decoration: none;
  transition: all 0.5s;

  &--items {
    background-image: url("../img/icon-interior.svg");
    background-position: right 37px center;
  }

  &--toys {
    background-color: $greeny-blue;
    background-image: url("../img/icon-toy.svg");
    background-position: right 33px center;
  }

  &:hover {
    margin-top: -5px;
    margin-bottom: 5px;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $screen-md) {
  .header-promo__text {
    padding-top: 154px;
    padding-bottom: 375px;
    background-image: url("../img/hero-tablet@1x.jpg");
    background-position: top -4px center;
    font-size: 43px;
    line-height: 1.16;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
    }
  }

  .header-promo__links {
    display: flex;
    position: relative;
    padding: 0 50px;

    &::before {
      content: "";
      position: absolute;
      bottom: -16px;
      left: 0;
      width: 100%;
      height: 45px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-repeat: no-repeat;
      background-position: left 37px center;
      background-size: contain;
    }
  }

  .header-promo__link {
    flex-grow: 1;
    padding: 30px 90px 39px 37px;
    margin-right: 4px;
    line-height: 1.5;

    &:first-child {
      flex-grow: 0;
      width: 207px;
      margin-right: 0;
    }
  }
}

@media (min-width: $screen-lg) {
  .header__top {
    top: 8px;
  }

  .header-promo__text {
    background-image: url("../img/hero-desktop@1x.jpg");
    padding-bottom: 360px;
    font-size: 53px;
    line-height: 1.08;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/hero-desktop@2x.jpg");
    }
  }

  .header-promo__link {
    margin-right: 0;

    &:first-child {
      width: 400px;
    }
  }
}
