@import "fonts";
@import "variables";
@import "mixins";
@import "blocks/page-title";
@import "blocks/btn";
@import "blocks/header";
@import "blocks/navigation";
@import "blocks/header-promo";
@import "blocks/features";
@import "blocks/features-table";
@import "blocks/popup-order";
@import "blocks/about";
@import "blocks/review";
@import "blocks/contacts";
@import "blocks/catalog";
@import "blocks/card";
@import "blocks/process";
@import "blocks/form";
@import "blocks/footer";
@import "blocks/footer-socials";

body {
  margin: 0;
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: $black;
}

img {
  width: 100%;
  height: auto;
}

@media (min-width: $screen-md) {
  body {
    font-size: 17px;
    line-height: 1.76;
  }
}
